.players-container{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 10rem;
}
.input1{
  width: 100%;
  border: none;
  border-radius: 4px;
  margin-bottom: 1rem;
  height: 2rem;
  padding-left: 1rem;
}
.players-container input{
  width: 100%;
  border: none;
  border-radius: 4px;
  height: 2rem;
  padding-left: 1rem;
  background: rgb(240, 228, 228);
}
.players-container input:focus{
  outline: none;
}
.players-container input::placeholder{
  font-family: 'Philosopher';
  letter-spacing: 0.06rem;
  color: rgb(104, 4, 129);
  opacity: 0.9;
}
.players-title{
  line-height: 0.3rem;
}